.asgar {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    background: blue;
}

.akbar {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    background: red;
}
