#sholatBaz {
    opacity: 0.6;
}

.asgar {
    border-radius: 10px;
}

.akbar {
    border-radius: 50%;
}

.kahe {
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px black;
    color: white;
    text-align: center;
    font-size: 26px;
}
